<h2>Todos:</h2>
<label>Title:</label>
<br>
<input type="text" [(ngModel)]="todoRequest.title">
<br>
<br>
<label>Description:</label>
<br>
<input type="text" [(ngModel)]="todoRequest.description">
<br>
<br>
<button type="button" (click)="add()">Add Todo</button>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of (todos$ | async)">
      <td>{{ todo?.id }}</td>
      <td>
        <p *ngIf="editRequest?.id !== todo.id">{{ todo?.title }}</p>
        <input [size]="editRequest?.request?.title?.length" *ngIf="editRequest?.id === todo.id" type="text" [(ngModel)]="editRequest.request.title">
      </td>
      <td>
        <p *ngIf="editRequest?.id !== todo.id">{{ todo?.description }}</p>
        <input [size]="editRequest?.request?.description?.length" *ngIf="editRequest?.id === todo.id" type="text" [(ngModel)]="editRequest.request.description">
      </td>
      <td>
        <p *ngIf="editRequest?.id !== todo.id">{{ todo?.completed }}</p>
        <input *ngIf="editRequest?.id === todo.id" type="checkbox" [(ngModel)]="editRequest.request.completed">
      </td>
      <td>
        <button type="button" (click)="editRequest?.id !== todo.id ? edit(todo?.id, todo) : saveEdit()">{{ editRequest?.id !== todo.id ? 'Edit' : 'Save' }}</button>
        <button type="button" style="margin-left: .5rem;" (click)="complete(todo?.id)">Complete</button>
        <button type="button" style="margin-left: .5rem;" (click)="delete(todo?.id)">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>